@import "../../sass/abstracts/vars";
@import "../../sass/abstracts/mixins";

.navigation{
  background-color: $primaryColorBg;
  opacity: 0.9;
  height: 100vh;
  border-right: 2px solid #3A444C;
  .menu{
    padding-top: 100px;
    @include flex();
    flex-direction: column;
    .menu_item:hover{
      background-color: rgba(29, 161, 242, 0.1);
      border-radius: 25%;
    }
    .menu_item{
      padding: 20px;
      .menu_link{
        color: #ffff;
        font-size: 18px;
      }
      .menu_link:focus{
        color: $colorActive;
      }
    }
  }
}